.container {
  display: flex;
  padding-top: 10px;
}

.bullseye-position {
  width: 175px;
  height: 175px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.inner-circle {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
}

.pos-abs {
  position: absolute;
}

.horizontal-line {
  width: 175px;
  height: 5px;
  background-color: black;
}

.vertical-line {
  width: 5px;
  height: 175px;
  background-color: black;
}

.outer-circle {
  width: 150px;
  height: 150px;
  border: 25px solid black;
  border-radius: 50%;
  box-sizing: border-box;
}

.bullseye-transform {
  width: 175px;
  height: 175px;
}

.inner-circle-transform {
  transform: translate(calc((175px - 50px) / 2), calc((175px - 50px) / 2));
}

.horizontal-line-transform {
  transform: translate(0px, calc(-50px + (175px - 5px) / 2));
}

.vertical-line-transform {
  transform: translate(calc((175px - 5px) / 2), calc(-50px + -5px));
}

.outer-circle-transform {
  transform: translate(
    calc((175px - 150px) / 2),
    calc((-50px + -5px + -175px) + (175px - 150px) / 2)
  );
}
